.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f4f4f4;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f4f4f4;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bfeaee;
}

.App .primaryBg {
  background-color: #bfeaee;
}

.App .highlightTextColor {
  color: #0091d5;
}

.App .highlightBg {
  background-color: #0091d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bfeaee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c6ecef;
}
.mui-btn--accent {
    background-color: #0091d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #199cd9;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bfeaee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Narrowest size for this element's responsive layout */
  .NewsScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .NewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .NewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .NewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .NewsScreen > .layoutFlow > .elText {
    overflow: hidden;
    margin-top: 94px;
    width: 238px;
    margin-left: 46px;
  }
  .NewsScreen > .layoutFlow > .elText > * { 
  width: 238px;
  height: 26px;
  }
  
@media (min-width: 568px) {
  .NewsScreen > .layoutFlow > .elText {
    overflow: hidden;
    margin-top: 94px;
    width: 238px;
    margin-left: 46px;
  }
  .NewsScreen > .layoutFlow > .elText > * { 
  width: 238px;
  height: 26px;
  }
  
}
@media (min-width: 768px) {
  .NewsScreen > .layoutFlow > .elText {
    overflow: hidden;
    margin-top: 94px;
    width: 236px;
    margin-left: 46px;
  }
  .NewsScreen > .layoutFlow > .elText > * { 
  width: 236px;
  height: 26px;
  }
  
}
@media (min-width: 1024px) {
  .NewsScreen > .layoutFlow > .elText {
    overflow: hidden;
    margin-top: 94px;
    width: 236px;
    margin-left: 46px;
  }
  .NewsScreen > .layoutFlow > .elText > * { 
  width: 236px;
  height: 26px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .NewsScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    margin-top: 132px;
    width: 238px;
    margin-left: 59px;
  }
  .NewsScreen > .layoutFlow > .elText2 > * { 
  width: 238px;
  height: 26px;
  }
  
@media (min-width: 568px) {
  .NewsScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    margin-top: 132px;
    width: 238px;
    margin-left: 59px;
  }
  .NewsScreen > .layoutFlow > .elText2 > * { 
  width: 238px;
  height: 26px;
  }
  
}
@media (min-width: 768px) {
  .NewsScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    margin-top: 132px;
    width: 236px;
    margin-left: 58px;
  }
  .NewsScreen > .layoutFlow > .elText2 > * { 
  width: 236px;
  height: 26px;
  }
  
}
@media (min-width: 1024px) {
  .NewsScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    margin-top: 131px;
    width: 236px;
    margin-left: 58px;
  }
  .NewsScreen > .layoutFlow > .elText2 > * { 
  width: 236px;
  height: 26px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .OnboardingScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .OnboardingScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .OnboardingScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .layoutFlow > .elImage {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .OnboardingScreen > .layoutFlow > .elImage > * { 
    width: 100%;
  height: 77px;
  }
  
@media (min-width: 568px) {
  .OnboardingScreen > .layoutFlow > .elImage {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .OnboardingScreen > .layoutFlow > .elImage > * { 
    width: 100%;
  height: 77px;
  }
  
}
@media (min-width: 768px) {
  .OnboardingScreen > .layoutFlow > .elImage {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .OnboardingScreen > .layoutFlow > .elImage > * { 
    width: 100%;
  height: 76px;
  }
  
}
@media (min-width: 1024px) {
  .OnboardingScreen > .layoutFlow > .elImage {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .OnboardingScreen > .layoutFlow > .elImage > * { 
    width: 100%;
  height: 76px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .layoutFlow > .elFullName {
    margin-top: 90px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .OnboardingScreen > .layoutFlow > .elFullName > * { 
  width: 226px;
  height: 34px;
  }
  
@media (min-width: 568px) {
  .OnboardingScreen > .layoutFlow > .elFullName {
    margin-top: 90px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .OnboardingScreen > .layoutFlow > .elFullName > * { 
  width: 226px;
  height: 34px;
  }
  
}
@media (min-width: 768px) {
  .OnboardingScreen > .layoutFlow > .elFullName {
    margin-top: 90px;
    width: 225px;
    margin-left: calc(50.0% - 112px);
  }
  .OnboardingScreen > .layoutFlow > .elFullName > * { 
  width: 225px;
  height: 34px;
  }
  
}
@media (min-width: 1024px) {
  .OnboardingScreen > .layoutFlow > .elFullName {
    margin-top: 90px;
    width: 225px;
    margin-left: calc(50.0% - 112px);
  }
  .OnboardingScreen > .layoutFlow > .elFullName > * { 
  width: 225px;
  height: 34px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .layoutFlow > .elEmail {
    margin-top: 77px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .OnboardingScreen > .layoutFlow > .elEmail > * { 
  width: 226px;
  height: 34px;
  }
  
@media (min-width: 568px) {
  .OnboardingScreen > .layoutFlow > .elEmail {
    margin-top: 77px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .OnboardingScreen > .layoutFlow > .elEmail > * { 
  width: 226px;
  height: 34px;
  }
  
}
@media (min-width: 768px) {
  .OnboardingScreen > .layoutFlow > .elEmail {
    margin-top: 77px;
    width: 225px;
    margin-left: calc(50.0% - 112px);
  }
  .OnboardingScreen > .layoutFlow > .elEmail > * { 
  width: 225px;
  height: 34px;
  }
  
}
@media (min-width: 1024px) {
  .OnboardingScreen > .layoutFlow > .elEmail {
    margin-top: 76px;
    width: 225px;
    margin-left: calc(50.0% - 112px);
  }
  .OnboardingScreen > .layoutFlow > .elEmail > * { 
  width: 225px;
  height: 34px;
  }
  
}

.OnboardingScreen .elButton button {
  border: 0.0px solid transparent;
}



/* Narrowest size for this element's responsive layout */
  .OnboardingScreen > .layoutFlow > .elButton {
    line-height: 35px;
    margin-top: 68px;
    width: 145px;
    margin-left: calc(50.0% - 72px);
  }
  .OnboardingScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .OnboardingScreen > .layoutFlow > .elButton {
    line-height: 35px;
    margin-top: 68px;
    width: 145px;
    margin-left: calc(50.0% - 72px);
  }
  .OnboardingScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .OnboardingScreen > .layoutFlow > .elButton {
    line-height: 35px;
    margin-top: 67px;
    width: 144px;
    margin-left: calc(50.0% - 72px);
  }
  .OnboardingScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .OnboardingScreen > .layoutFlow > .elButton {
    line-height: 35px;
    margin-top: 67px;
    width: 144px;
    margin-left: calc(50.0% - 72px);
  }
  .OnboardingScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}

/* This component has a fixed-size layout */
  .InputComponent {
    min-height: 114px;
    overflow: hidden;
    min-width: 182px;
     /* This component has a fixed size */
  }
  .InputComponent > .background > .containerMinHeight {
    min-height: 114px;
  }


  .InputComponent .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    height: 100%;
  }

